.filelabel {
  width: 90%;
  height: auto;
  -webkit-appearance: none !important;
  padding: 5px 8px!important;
  margin: 0 auto!important;
  text-align: center;
  .icon-file {
    font-size: 32px;
    color: white;
    padding-left: 10px;
  }
}
.checkbox-users {
  margin: 0 auto;
  text-align: center;
}
.author {
  padding-top: 5px;
  small{color: $info-color;}}