.avatar {
  height: 32px;
  width: 32px;
  margin: -9px 5px;
  border-radius: 20%;
  vertical-align: text-top;
}
.nav-main .avatar{
  height: 34px;
  width: 34px!important;
  margin: -10px 5px!important;
  vertical-align: text-top;
}
