@font-face {
  font-family: Icomoon;
  src:url('../fonts/icomoon.eot?n8z44f');
  src:url('../fonts/icomoon.eot?n8z44f#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?n8z44f') format('truetype'),
  url('../fonts/icomoon.woff?n8z44f') format('woff'),
  url('../fonts/icomoon.svg?n8z44f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  font: normal normal normal $font-size-base/1 Icomoon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-earth:before {
  content: "\e900";
}
.icon-code2:before {
  content: "\e901";
}
.icon-bell:before {
  content: "\e902";
}
.icon-toggle-on:before {
  content: "\e903";
}
.icon-toggle-off:before {
  content: "\e904";
}
.icon-codepen:before {
  content: "\e905";
}
.icon-github-alt:before {
  content: "\e906";
}
.icon-github-square:before {
  content: "\e907";
}
.icon-github:before {
  content: "\e908";
}
.icon-cogs:before {
  content: "\e909";
}
.icon-cog:before {
  content: "\e90a";
}
.icon-terminal:before {
  content: "\e90b";
}
.icon-copyright:before {
  content: "\e90c";
}
.icon-bell-o:before {
  content: "\e90d";
}
.icon-bell2:before {
  content: "\e90e";
}
.icon-bell-o2:before {
  content: "\e90f";
}
.icon-graduation-cap:before {
  content: "\e910";
}
.icon-vk:before {
  content: "\e911";
}
.icon-tasks:before {
  content: "\e912";
}
.icon-social-github:before {
  content: "\e913";
}
.icon-edit:before {
  content: "\e914";
}
.icon-pencil:before {
  content: "\e915";
}
.icon-add_alert:before {
  content: "\e003";
}
.icon-av_timer:before {
  content: "\e005";
}
.icon-loop:before {
  content: "\e00e";
}
.icon-mic_off:before {
  content: "\e011";
}
.icon-movie:before {
  content: "\e012";
}
.icon-pause:before {
  content: "\e018";
}
.icon-pause_circle_filled:before {
  content: "\e019";
}
.icon-pause_circle_outline:before {
  content: "\e01a";
}
.icon-play_arrow:before {
  content: "\e01b";
}
.icon-play_circle_filled:before {
  content: "\e01c";
}
.icon-play_circle_outline:before {
  content: "\e01d";
}
.icon-playlist_add:before {
  content: "\e01e";
}
.icon-repeat:before {
  content: "\e023";
}
.icon-replay:before {
  content: "\e025";
}
.icon-stop:before {
  content: "\e02a";
}
.icon-video_collection:before {
  content: "\e02d";
}
.icon-videocam:before {
  content: "\e02e";
}
.icon-videocam_off:before {
  content: "\e02f";
}
.icon-volume_down:before {
  content: "\e030";
}
.icon-volume_mute:before {
  content: "\e031";
}
.icon-volume_off:before {
  content: "\e032";
}
.icon-volume_up:before {
  content: "\e033";
}
.icon-call_merge:before {
  content: "\e042";
}
.icon-chat:before {
  content: "\e046";
}
.icon-comment:before {
  content: "\e048";
}
.icon-email:before {
  content: "\e04c";
}
.icon-location_off:before {
  content: "\e051";
}
.icon-location_on:before {
  content: "\e052";
}
.icon-chat_bubble_outline:before {
  content: "\e055";
}
.icon-vpn_key:before {
  content: "\e063";
}
.icon-phonelink_ring:before {
  content: "\e066";
}
.icon-phonelink_setup:before {
  content: "\e067";
}
.icon-add:before {
  content: "\e069";
}
.icon-add_box:before {
  content: "\e06a";
}
.icon-add_circle_outline:before {
  content: "\e06c";
}
.icon-block:before {
  content: "\e06f";
}
.icon-create:before {
  content: "\e074";
}
.icon-markunread:before {
  content: "\e07d";
}
.icon-remove:before {
  content: "\e07f";
}
.icon-remove_circle:before {
  content: "\e080";
}
.icon-remove_circle_outline:before {
  content: "\e081";
}
.icon-reply:before {
  content: "\e082";
}
.icon-reply_all:before {
  content: "\e083";
}
.icon-send:before {
  content: "\e087";
}
.icon-access_time:before {
  content: "\e08e";
}
.icon-add_alarm:before {
  content: "\e08f";
}
.icon-devices:before {
  content: "\e0a1";
}
.icon-gps_fixed:before {
  content: "\e0a3";
}
.icon-gps_not_fixed:before {
  content: "\e0a4";
}
.icon-network_wifi:before {
  content: "\e0aa";
}
.icon-now_wallpaper:before {
  content: "\e0ac";
}
.icon-insert_comment:before {
  content: "\e0e6";
}
.icon-insert_photo:before {
  content: "\e0eb";
}
.icon-mode_edit:before {
  content: "\e0ee";
}
.icon-cloud_download:before {
  content: "\e0fb";
}
.icon-cloud_off:before {
  content: "\e0fc";
}
.icon-cloud_upload:before {
  content: "\e0fe";
}
.icon-file_download:before {
  content: "\e0ff";
}
.icon-folder_open:before {
  content: "\e102";
}
.icon-keyboard_voice:before {
  content: "\e118";
}
.icon-laptop:before {
  content: "\e119";
}
.icon-laptop_chromebook:before {
  content: "\e11a";
}
.icon-laptop_mac:before {
  content: "\e11b";
}
.icon-laptop_windows:before {
  content: "\e11c";
}
.icon-phone_iphone:before {
  content: "\e120";
}
.icon-smartphone:before {
  content: "\e127";
}
.icon-watch:before {
  content: "\e12f";
}
.icon-add_to_photos:before {
  content: "\e132";
}
.icon-assistant_photo:before {
  content: "\e135";
}
.icon-audiotrack:before {
  content: "\e136";
}
.icon-camera:before {
  content: "\e144";
}
.icon-camera_alt:before {
  content: "\e145";
}
.icon-color_lens:before {
  content: "\e14c";
}
.icon-colorize:before {
  content: "\e14d";
}
.icon-control_point:before {
  content: "\e14f";
}
.icon-crop_original:before {
  content: "\e159";
}
.icon-grid_off:before {
  content: "\e17f";
}
.icon-grid_on:before {
  content: "\e180";
}
.icon-image:before {
  content: "\e186";
}
.icon-music_note:before {
  content: "\e197";
}
.icon-navigate_before:before {
  content: "\e19a";
}
.icon-navigate_next:before {
  content: "\e19b";
}
.icon-photo_camera:before {
  content: "\e1a4";
}
.icon-remove_red_eye:before {
  content: "\e1a8";
}
.icon-switch_video:before {
  content: "\e1b0";
}
.icon-timer_10:before {
  content: "\e1b4";
}
.icon-timer_3:before {
  content: "\e1b5";
}
.icon-timer:before {
  content: "\e1b6";
}
.icon-timer_off:before {
  content: "\e1b7";
}
.icon-layers:before {
  content: "\e1d3";
}
.icon-local_cafe:before {
  content: "\e1d9";
}
.icon-local_car_wash:before {
  content: "\e1da";
}
.icon-local_convenience_store:before {
  content: "\e1db";
}
.icon-local_grocery_store:before {
  content: "\e1df";
}
.icon-local_phone:before {
  content: "\e1e9";
}
.icon-local_print_shop:before {
  content: "\e1ed";
}
.icon-local_shipping:before {
  content: "\e1f0";
}
.icon-location_history:before {
  content: "\e1f2";
}
.icon-apps:before {
  content: "\e1ff";
}
.icon-cancel:before {
  content: "\e205";
}
.icon-close:before, .delete.icon:before {
  content: "\e209";
  font-style: normal;
}
.icon-expand_less:before {
  content: "\e20a";
}
.icon-expand_more:before {
  content: "\e20b";
}
.icon-fullscreen:before {
  content: "\e20c";
}
.icon-fullscreen_exit:before {
  content: "\e20d";
}
.icon-menu:before {
  content: "\e20e";
}
.icon-keyboard_control:before {
  content: "\e20f";
}
.icon-more_vert:before {
  content: "\e210";
}
.icon-refresh:before {
  content: "\e211";
}
.icon-adb:before {
  content: "\e214";
}
.icon-event_available:before {
  content: "\e21a";
}
.icon-event_busy:before {
  content: "\e21b";
}
.icon-event_note:before {
  content: "\e21c";
}
.icon-folder_special:before {
  content: "\e21d";
}
.icon-mms:before {
  content: "\e21e";
}
.icon-more:before {
  content: "\e21f";
}
.icon-sync:before {
  content: "\e22b";
}
.icon-time_to_leave:before {
  content: "\e230";
}
.icon-voice_chat:before {
  content: "\e232";
}
.icon-personal_video:before {
  content: "\e23f";
}
.icon-power:before {
  content: "\e240";
}
.icon-wc:before {
  content: "\e241";
}
.icon-cake:before {
  content: "\e243";
}
.icon-group:before {
  content: "\e245";
}
.icon-group_add:before {
  content: "\e246";
}
.icon-notifications:before {
  content: "\e24a";
}
.icon-notifications_none:before {
  content: "\e24b";
}
.icon-notifications_off:before {
  content: "\e24c";
}
.icon-notifications_active:before {
  content: "\e24d";
}
.icon-person:before {
  content: "\e253";
}
.icon-person_add:before {
  content: "\e254";
}
.icon-person_outline:before {
  content: "\e255";
}
.icon-plus_one:before {
  content: "\e256";
}
.icon-poll:before {
  content: "\e257";
}
.icon-school:before {
  content: "\e259";
}
.icon-share:before {
  content: "\e25a";
}
.icon-check_box:before {
  content: "\e25c";
}
.icon-check_box_outline_blank:before {
  content: "\e25d";
}
.icon-radio_button_unchecked:before {
  content: "\e25e";
}
.icon-radio_button_checked:before {
  content: "\e25f";
}
.icon-star:before {
  content: "\e260";
}
.icon-star_half:before {
  content: "\e261";
}
.icon-star_outline:before {
  content: "\e262";
}
.icon-accessibility:before {
  content: "\e264";
}
.icon-add_shopping_cart:before {
  content: "\e269";
}
.icon-alarm_off:before {
  content: "\e26c";
}
.icon-android:before {
  content: "\e26e";
}
.icon-autorenew:before {
  content: "\e278";
}
.icon-bookmark:before {
  content: "\e27b";
}
.icon-bookmark_outline:before {
  content: "\e27c";
}
.icon-bug_report:before {
  content: "\e27d";
}
.icon-build:before {
  content: "\e27e";
}
.icon-change_history:before {
  content: "\e280";
}
.icon-code:before {
  content: "\e284";
}
.icon-delete:before {
  content: "\e287";
}

.icon-event:before {
  content: "\e28c";
}
.icon-exit_to_app:before {
  content: "\e28d";
}
.icon-face:before {
  content: "\e290";
}
.icon-favorite:before {
  content: "\e291";
}
.icon-favorite_outline:before {
  content: "\e292";
}
.icon-find_in_page:before {
  content: "\e294";
}
.icon-find_replace:before {
  content: "\e295";
}
.icon-highlight_remove:before {
  content: "\e29c";
}
.icon-home:before {
  content: "\e29e";
}
.icon-list:before {
  content: "\e2aa";
}
.icon-lock:before {
  content: "\e2ab";
}
.icon-lock_open:before {
  content: "\e2ac";
}
.icon-lock_outline:before {
  content: "\e2ad";
}
.icon-note_add:before {
  content: "\e2b0";
}
.icon-open_in_browser:before {
  content: "\e2b1";
}
.icon-open_in_new:before {
  content: "\e2b2";
}
.icon-perm_camera_mic:before {
  content: "\e2b6";
}
.icon-perm_contact_calendar:before {
  content: "\e2b7";
}
.icon-perm_media:before {
  content: "\e2bb";
}
.icon-picture_in_picture:before {
  content: "\e2be";
}
.icon-power_settings_new:before {
  content: "\e2c0";
}
.icon-restore:before {
  content: "\e2c7";
}
.icon-schedule:before {
  content: "\e2c9";
}
.icon-search:before {
  content: "\e2ca";
}
.icon-settings:before {
  content: "\e2cb";
}
.icon-settings_applications:before {
  content: "\e2cc";
}
.icon-settings_backup_restore:before {
  content: "\e2cd";
}
.icon-settings_bluetooth:before {
  content: "\e2ce";
}
.icon-settings_ethernet:before {
  content: "\e2d1";
}
.icon-settings_voice:before {
  content: "\e2db";
}
.icon-shop:before {
  content: "\e2dc";
}
.icon-shopping_basket:before {
  content: "\e2de";
}
.icon-turned_in:before {
  content: "\e2f8";
}
.icon-turned_in_not:before {
  content: "\e2f9";
}
.icon-view_list:before {
  content: "\e301";
}
.icon-camera_enhance:before {
  content: "\e30e";
}
.icon-help_outline:before {
  content: "\e30f";
}
.icon-zoom_in:before {
  content: "\e311";
}
.icon-zoom_out:before {
  content: "\e312";
}
.icon-http:before {
  content: "\e313";
}
.icon-flight_land:before {
  content: "\e315";
}
.icon-flight_takeoff:before {
  content: "\e316";
}
.icon-lightbulb:before {
  content: "\e916";
}
.icon-study:before {
  content: "\e917";
}
.icon-calendar:before {
  content: "\e918";
}
.icon-world:before {
  content: "\e919";
}
.icon-light-bulb:before {
  content: "\e91a";
}
.icon-barcode:before {
  content: "\e91b";
}
.icon-qrcode:before {
  content: "\e91c";
}
.icon-users:before {
  content: "\e91d";
}
.icon-user-tie:before {
  content: "\e91e";
}
.icon-spinner10:before {
  content: "\e91f";
}
.icon-spinner11:before {
  content: "\e920";
}
.icon-briefcase:before {
  content: "\e921";
}
.icon-clipboard:before {
  content: "\e922";
}
.icon-embed:before {
  content: "\e923";
}
.icon-embed2:before {
  content: "\e924";
}
.icon-terminal2:before {
  content: "\e925";
}
.icon-google:before {
  content: "\e926";
}
.icon-google-plus:before {
  content: "\e927";
}
.icon-google-plus2:before {
  content: "\e928";
}
.icon-facebook:before {
  content: "\e929";
}
.icon-facebook2:before {
  content: "\e92a";
}
.icon-twitter:before {
  content: "\e92b";
}
.icon-twitter2:before {
  content: "\e92c";
}
.icon-youtube:before {
  content: "\e92d";
}
.icon-youtube2:before {
  content: "\e92e";
}
.icon-youtube3:before {
  content: "\e92f";
}
.icon-youtube4:before {
  content: "\e930";
}
.icon-github2:before {
  content: "\e931";
}
.icon-github4:before {
  content: "\e932";
}
.icon-github5:before {
  content: "\e933";
}
.icon-codepen2:before {
  content: "\e934";
}

