.ui.dropdown.selection
{
  margin: 0;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid $primary-color;
  font-family: 'Source Sans Pro','icomoon',sans-serif!important;

  .default-text {
    padding: 5px 10px;
    font: normal 18px/normal "PT Sans", Helvetica, sans-serif;
    line-height: 1.5;
  }
  a {
    font-family: 'Source Sans Pro','icomoon',sans-serif!important;
  }
  .ui.label.transition.visible, .ui.label {
    background: none repeat scroll 0 0 $bluegrey-color!important;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    padding: 4px 5px 4px 5px;
    margin: 5px 10px 0 0;
    &:hover {
      background: lighten($bluegrey-color, .9)!important
    }
  }
}
@media only screen and (min-width: 992px) {
  .ui.search.dropdown .menu {
    max-height: 10.11428571rem;
  }
}