.landing {
  display: block;
  position: relative;
  width: 100%;
  min-height:300px;
  box-shadow: 0px 1px transparentize(#f8f8f8, .4) !important;
  .header {
    display: block;
//    padding: 0 10%;
//    position: relative;
    i{ position: absolute; color: rgba(255,255,255,0.2); font-size: 60px;}
  }
  .landing-text {
    font-size: $font-size-base*1.8;
    font-weight: bold;
    color: white;
    padding-top: 5%;
    .subtext {
      font-size: $font-size-base*1.2;
      color: rgba(255,255,255,0.5);
    }
  }

}
.landing-story {
  padding: 2% 15%;
  display: block;
  .line {
    display: block;
    height:5px;
    border-bottom: 2px solid lighten($grey-color, 10%);
  }
  .step-1,.step-2,.step-3,.step-4,.step-5 {
    display: inline-block;
    min-height: 200px;
    float: left;
    h4 {
      width: auto;
      color: $bluegrey-color;
      font-weight: bold;
    }
    p{
      color: aliceblue;
    }
    i {

    }
    .landing-side {

    }

  }
  .landing-icon-side {

   i{
     font-size: $font-size-base*2.2;
     color:lighten($dark-color, 13%);
     border: 1px solid $grey-color;
     //color: #64B244;
     border-radius: 500px;
     display: block;
     float: none;
     height: 80px;
     line-height: 80px;
     margin: 0 auto -2px;
     opacity: 1;
     padding: 0;
     width: 80px;
     text-align: center;
   }
    border-radius: 5px;
    display: block;
    float: none;
    font-size: 2em;
    height: auto;
    line-height: 80px;
    margin: 0 auto 15px;
    opacity: 1;
    padding: 0;
    width: 70%;
    text-align: center;
    padding-top: 5px;
    background: white;
    //min-height: 150px;
    position: relative;
    span {
      margin:0 auto; font-size: $font-size-base*4;
     }
    .button {
      font-size: 14px;
    }
  }
  }
.language-info {
  position: absolute;
  top: -5px;
  font-size: 10px;
  color: $grey-color;
}
.absolute-lang {
  position: absolute;
  right: 10px;
  z-index: 1;
}
.bg-land-side {
  margin: 0 auto;
.icon-pencil-square {
  margin-left: 5px;
}
  .button {
    margin: 0 0;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
  }
}
@include screen(320px, 640px) {
  .landing {
    padding: 14% 0 5% 0;
    .header {
      i{
        font-size: 24px;
      }
    }
  }
  .landing-text {

    font-size: 18px!important;
  }
  .subtext {
    font-size: 16px!important;

  }


}
@include screen(640px, 768px) {
   .landing {
     padding: 10% 0 5% 0;
     .header {
       i{
         font-size: 28px;
       }
     }
   }
   .landing-text {

     font-size: 22px!important;
   }
   .subtext {
     font-size: 20px!important;

   }


 }
@include screen(768px, 1024px) {
  .landing {
    padding: 6% 0 5% 0;
    .header {
      i{
        font-size: 36px;
      }
    }
  }
  .landing-text {

    font-size: 26px!important;
  }
  .subtext {
    font-size: 22px!important;

  }


}
@include screen(1024px,1280px) {
  .landing {
    padding: 3% 0 5% 0;
    .header {
      i{
        font-size: 38px;
      }
    }
  }
  .landing-text {

    font-size: 30px!important;
  }
  .subtext {
    font-size: 26px!important;

  }


}

.land-line {
  height: 0px;
  width: 50%;
  margin: 0 auto;
  position: relative;
  display: block;
  text-align: center;
  font-size: 12px;
  i {
    color: aliceblue;
    font-size: 12px;
  }
}
.landing {
  background-color: transparent;
  color: #FAFAFA;
  min-height: 100vh;
  width: 100%;
  .wrapper {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 10;
    padding-top: 260px;

    .iw {
      position: absolute;
      top: 80px;
      -lh-property: 0;
      left: -webkit-calc(50% - 90px);
      left: -moz-calc(50% - 90px);
      left: calc(50% - 90px);
      display: block;
      text-indent: -9999em;
      width: 180px;
      height: 140px;
      margin: 0 auto 1px;
      background-image: url(/itway-landing.png);
      background-repeat: no-repeat;
      background-size: 100% auto;
      animation: pulse 2.5s ease-out infinite;
      border-bottom: 3px solid;
    }
    h1 {
      font-weight: 500;
      font-size: 42px;
      text-transform: uppercase;
      letter-spacing: -1.5px;
      line-height: 50px;
      span:nth-child(1) {
        font-weight: 300;
      }
      span {
        display: block;
      }

    }
    p {
      font-size: 23px;
      line-height: 30px;
      font-weight: 300;
      max-width: 775px;
      width: 90%;
      margin: 30px auto;
    }
    .buttons-landing {
      margin-top: 34px;
      a {
        display: inline-block;
        color: #FFF;
        line-height: 15px;
        text-decoration: none;
        text-align: left;
        background-color: rgba(0, 144, 210, 0.65);
        padding: 6px 13px 7px 10px;
        border-radius: 6px;
        margin: 7px;
        -webkit-transition: background-color 0.2s ease-out;
        -moz-transition: background-color 0.2s ease-out;
        -o-transition: background-color 0.2s ease-out;
        transition: background-color 0.2s ease-out;
      }
      a:hover {
        background-color: #0090d2;
      }
    }
  }
}
.features {
  background-color: #F0F0F0;
  min-height: 100vh;
  width: 100%;
  .wrapper {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 10;
  }
  h2 {
    font-weight: 500;
    font-size: 38px;
    text-transform: uppercase;
    letter-spacing: -1.5px;
    line-height: 42px;
    span:nth-child(1) {
      font-weight: 300;
    }
    span {
      display: block;
    }
    span:nth-child(2) {
      font-size: 52px;
      letter-spacing: -3px;
    }
  }

  p {
    font-size: 23px;
    line-height: 30px;
    font-weight: 300;
    max-width: 775px;
    width: 90%;
    margin: 30px auto;
  }
  ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: baseline;
    li {
      max-width: 300px;
      min-height: 260px;
      padding: 20px;
      div {
        margin-bottom: 6px;
      }
      h3 {
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 20px;
        position: relative;
        text-decoration: overline;
      }
      span {
        display: block;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
      }
      i {
        font-size: 90px;
        color: $primary-color;
      }
    }
  }
}
.wrapper-bottom{
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 10;
  padding-top: 20px;
}