.ui.message {
  border-radius: 0 !important;
  padding: 0.4em 1.5em !important;
  box-shadow: none!important;
  &.error {
    border-bottom: 3px solid $red-color;
    color: #a94442!important;
    background: transparent!important;
    border-radius: 0 !important;
    .close {
      color: #a94442;
    }
    .error-small-header {
      color: #a94442!important;
    }
  }
  .close {
    top: .58575em!important;
  }
  .header {
    font-family: 'Source Sans Pro','icomoon',sans-serif!important;
    font-size: $font-size-base*0.7!important;
  }
  p {
    margin:0 !important;
  }
  .error-small-header {
    color:white!important;
  }
}
