
.nav-main {

  padding-left: 0;
  padding-right: 0;
  align-items: center!important;
  justify-content: center!important;
  .left.menu, .right.menu {
    box-shadow: none!important;
  }
  .ui.menu {
    padding: 0;
    margin: 0;
    height: 50px !important;
    background: transparent;
    box-shadow: none!important;
    .center {
      &:before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        height: 100%;
        width: 0px !important;
        background: rgba(34, 36, 38, .1);
      }
      .item {
        color: white !important;
      }
    }
    .item {
      color: white !important;
      &.selected {
        color: $info-color !important;
      }
    }
    .dropdown.item .menu {
      padding: 5px;
      border-radius: 4px!important;

      .item {
        border-bottom: 1px solid lighten(#ddd, .9);
        &:last-child {
          border-bottom: none;
        }
      }
    }
    .ui.inline.dropdown {
      border: none!important;
      & > .text {
        font-weight: 400;
        background: white !important;
        color: $info-color !important;
        padding: 10px;
        border-radius: 4px;
      }
      .ui.inline.dropdown.item.active.visible {
      }
    }
    .dropdown .item {
      color: $grey-color !important;
      i {
        color: $info-color !important;
      }

  }
  .subnav-block {
    border-bottom: none !important;
    background-color: transparent !important;
    padding-top: 0px;
    padding-bottom: 0;
    font-size: 14px !important;
    color: white;
    padding-left: 7.5px;
    padding-right: 7.5px;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    .item {
      color: white !important;
      padding: 3px 10px !important;
      display: inline-block !important;
      &.selected:after {
        display: none;
      }
      &.selected {
        color: $info-color !important;
      }
    }

    .dropdown .item {
      color: $grey-color !important;
      i {
        color: $info-color !important;
      }
    }

    }

    .ui.dropdown.item .menu .item:not(.filtered) {
      display: block!important;
    }
    .item.block {
      display: block!important;
    }
    .searchBox {
      margin-right: 10px;
      button {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0px;
      }
      input[type="search"] {
        margin-left: 0px;
        margin-right: 0px;
      }

    }
    .tag-search {
    }
  }
  .language-chooser {
    padding-left: 10px;
    a {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
.menu {
  font-family: inherit!important;
  box-shadow: 0 1px 2px 0 #f8f8f8!important;
  border-radius: 0!important;
  font-size: small!important;

}
.left.menu {
  font-size:large!important;

}

/*
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}*/
@media (max-width: 992px) {
  .navigation {
    width: 100%;
    padding-left: 0px!important;
    padding-right: 0px!important;
    .logo {
      text-align: center!important;
    }
    .list-inline.pull-left, .list-inline.pull-right{
      display: block!important;
      width: 100%;
      text-align: center !important;
      a {
        text-align: center !important;
      }
    }

  }
}
//site-location
.location { display: block; position: relative; float: left; width: auto;
  transition: 400ms all;
  .location-info {

  }
  &:hover {
    .location-info {

    }
  }
}
.location-title {
  background-color: white;
  border-radius: 10px;
  font-size: 26px;
  font-weight: bold;
  color: #607D8B;
  margin-bottom: 5px;
  padding: 5px 10px!important;

}
